<div class="">
    <h2 class="be-h2">Ils nous font <span>confiance</span></h2>
    <div class="d-flex flex-wrap row">
        <div class="col-6 col-md-4 col-lg-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/lucca-logo.png") }}"
                 alt="LogoLucca">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/akeneo-logo.png") }}"
                 alt="LogoAkeneo">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/allovoisins-logo.png") }}" alt="LogoAllovoisins">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/decathtech-logo.png") }}"
                 alt="LogoDécathlontechnology">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/uiris-logo.png") }}"
                 alt="Logo Uiris">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/nickel-logo.png") }}"
                 alt="LogoNickel">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/ikks-logo.png") }}"
                 alt="LogoIKKS">
        </div>
        <div class="col-6 col-md-4 col-xl-3">
            <img src="{{ asset("build/images/partnerCompaniesLogo/maisondumonde-logo.png") }}"
                 alt="LogoMaison du monde">
        </div>
    </div>
</div>
