{% extends 'base.html.twig' %}

{% block title %}
    Offres
{% endblock %}

{% block body %}

    <div class="offcanvas offcanvas-start bg-transparent border-0" tabindex="-1" id="offcanvasExample"
         aria-labelledby="offcanvas2ExampleLabel">

        <div class="form-offcanvas offcanvas-body d-flex align-items-center">

        </div>
    </div>

    <h1 class="w-100 d-flex justify-content-center m-0 mb-5 text-center fw-bold be-h2">
        Votre prochain emploi est peut-être parmis<span> ces annonces</span>
    </h1>

    <div class="w-50 m-auto d-flex justify-content-center flex-wrap">
        {% if app.request.query.all.joboffer_filter is defined %}
            {% for parameter in app.request.query.all.joboffer_filter  %}

                {% if parameter is iterable %}
                    {%  for contract in parameter %}
                        <span class="badge badge-info bg-info m-1 m-md-2 fs-6">{{ contract }}</span>
                    {% endfor %}
                {% endif %}

                {% if parameter is not iterable %}
                    <span class="badge badge-info bg-info m-1 m-md-2 fs-6">{{ parameter }}</span>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <button class="btn btn-primary m-2 d-xl-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
        <i class="bi bi-funnel text-white"></i> Filtrez votre recherche
    </button>

    <div class=" form-accordion-parent d-flex justify-content-around ">
        {{ component('FilterComponent', {form, min, max})}}

        {{ include ('_includes/joboffer-card-template.html.twig') }}

        <div class="d-none d-md-block col-md-3 m-0 p-0 position-relative">
            <div class="sticky-element">

                {% if app.user.id is defined %}
                    {{ component('AlerteComponent', { 'applicant': app.user.id }) }}
                {% endif %}

                {% if is_granted('ROLE_COMPANY') %}
                    {{ component('ResumeComponent') }}
                {% endif %}
                {% if is_granted('ROLE_CANDIDATE') %}
                    {{ component('JobOffersComponent') }}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="navigation d-flex justify-content-center my-5">
        {{ knp_pagination_render(joboffers) }}
    </div>
{% endblock %}
