<div{{ attributes }}>
    <div class="card be-card-alerte" style="width: 100%; min-height: 13.75rem;" >
        <div class="card-header be-alert">
            Mes Alertes
        </div>
        <div class="card-body">
            {% for alert in this.alert %}
                <div class="d-flex w-100 px-3 justify-content-around">
                    <h5 class="card-title">icone</h5>
                    <a id="alerte-edit-{{ alert.id }}"
                        href="{{ path('app_alerte_edit', {'id': alert.id}) }}"
                       class="{{ app.user.getAlert(alert) ? 'font-weight-bold' : '' }}"
                       onclick="readAlert(event)"
                    >
                        {{ alert.message }}
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <button type="button" class="be-secondary-button m-auto " data-toggle="modal" data-target="#exampleModal">
                    Créer une alerte
                </button>
            {% endfor %}
        </div>
    </div>
</div>
