<div{{ attributes }}>
    {{ form_start(this.form, {
        attr: {
            class: 'form-accordion accordion p-0 position-relative bg-white',
            action: path('app_joboffer_search'),
        }
    }) }}
    <div class="be-joboffer-card-template  sticky-element p-2">
        <h2 class=" py-4 fs-5 m-0 w-100 d-flex justify-content-center text-center be-h2 ">Affinez votre
            <span>&nbsp recherche</span>
        </h2>
        <div class="my-3 d-flex justify-content-center">
            {{ form_widget(this.form.q, {
                attr: {
                    class: 'w-75 '
                }
            }) }}
        </div>
        <div class="mt-3 d-flex justify-content-around flex-wrap">
            <h5 class="w-100 text-center">Salaire</h5>
            {{ form_widget(this.form.minSalary, {
                attr: {
                    class: 'w-25',
                }
            }) }}

            {{ form_widget(this.form.maxSalary, {
                attr: {
                    class: 'w-25',
                }
            }) }}
        </div>
        <div class="d-flex justify-content-center">
            <div id="salary-slider" class="my-2 w-75" data-min="{{ this.min }}" data-max="{{ this.max }}"></div>
        </div>
        <div class="my-3 d-flex justify-content-center form-check row">
            {% for checkbox in this.form.contract.children %}
               <div class="col-6 text-center d-flex row">
                   {{ form_widget(checkbox, {
                       attr: {
                           class: 'form-check-input col-2 p-0',
                       }
                   }) }}
                   {{ form_label(checkbox, checkbox.vars.label, {
                       attr: {
                           class: 'form-check-label col-10 p-0',
                       }
                   }) }}
               </div>
            {% endfor %}
        </div>
        <div class="my-3 d-flex justify-content-center">
            {{ form_widget(this.form.city, {
                attr: {
                    class: 'w-75',
                }
            }) }}
        </div>
        <div class="my-3 d-flex justify-content-center">
            {{ form_widget(this.form.submit) }}
        </div>
    </div>
    {{ form_end(this.form) }}
</div>
