{% extends 'base.html.twig' %}

{% block title %}Mes informations personnelles{% endblock %}

{% block body %}
<div class="d-flex m-4">
    <a class="be-secondary-button " href="{{ path('app_user_show', {'id': app.user.id} ) }}">Retour au profil</a>
</div>
<div class="be-form row g-3 col-7">
    <h2 class="be-h2">Mes <span>informations</span></h2>
    {{ form_start(form, {
        'attr': {
           'class': 'form-user-edit',
        }
    }) }}
    <div class="row px-4">
        <div class="col-md-6">
            {{ form_row(form.firstname, {
                'attr': {
                    'data-rule': 'required|minlength-2'
                }
            }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastname, {
                'attr': {
                    'data-rule': 'required|minlength-2'
                }
            }) }}
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-6">
            {{ form_row(form.email, {
                'attr': {
                    'data-rule': 'required|email'
                }
            }) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.city) }}
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-6">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.phone, {
                'attr': {
                    'data-rule': 'phoneFr'
                }
            }) }}
        </div>
    </div>
    <div class="text-center mt-4 mb-5">
        <button class="be-primary-button" type="submit">Confirmer</button>
    </div>
    {{ form_end(form) }}
    <div class="d-flex justify-content-end px-4">
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
