{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} - profil{% endblock %}

{% block body %}
<div class="container m-auto d-flex justify-content-around align-items-center my-5">
    <div class="row flex justify-content-center justify-content-lg-between">
        {#Group 1#}
        <div class="col-lg-4 col-11 col-md-12 row  px-md-2 px-xl-4 order-md-first order-lg-last align-items-center d-flex
        flex-column p-0">
            <div class="card col-12 col-xl-11  example-wrapper be-card-candidate mb-4">
                <div class="card-body be-card-candidat">
                    <h5 class="card-title">Bonjour {{ app.user.firstname }}</h5>
                    <p class="be-maj">Dernière mise à jour {{ app.user.updatedAt|ago }}</p>
                    <p class="card-text">
                        Lieu de résidence :
                        {% if app.user.city %} {{ app.user.city }}
                        {% else %}
                        Non renseigné
                        {% endif %}
                    </p>
                    <p>Nombre de candidature effectuée : {{ app.user.joboffers | length }}</p>
                    <div class="be-log-out position-absolute bottom-0 end-0 my-2 mx-2">
                        <a href="/logout" class="text-dark">Déconnexion
                            <i class="fa-solid fa-right-from-bracket fa-2xl WS-header" type="button"
                                ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {#Group 2#}
        <div class="col-lg-8 col-12 row align-items-center d-flex  justify-content-center justify-content-md-between
        p-0">
            <a href="{{ path('app_user_search', {id: app.user.id}) }}" class="text-dark p-0  col-11 col-md-6 px-md-1
            px-xl-4">
                <div class="card example-wrapper be-card-search mb-3" >
                    <div class="card-body d-flex flex-column justify-content-around ">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-magnifying-glass-plus fa-2xl"></i>
                            <h5 class="card-title text-center"> Mes recherches</h5>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted be-test d-none d-xl-block text-center w-100">
                            créer une recherche d'offre d'emploi
                        </h6>
                    </div>
                </div>
            </a>
            <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="p-0  col-11 col-md-6 px-md-1 px-xl-4">
                <div class="card example-wrapper be-card-information mb-3" >
                    <div class="card-body d-flex flex-column justify-content-around ">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-id-card fa-2xl" ></i>
                            <h5 class="card-title text-center">Mes informations personnelles</h5>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted d-none d-xl-block text-center w-100">
                            Je modifie mes informations personnelles
                        </h6>
                    </div>
                </div>
            </a>
            <a href="{{ path('app_user_favlist', {'id': app.user.id}) }}" class="p-0  col-11 col-md-6 px-md-1 px-xl-4">
                <div class="card example-wrapper be-card-favorites mb-3" >
                    <div class="card-body d-flex flex-column justify-content-around ">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-bookmark fa-2xl" ></i>
                            <h5 class="card-title text-center">Mes favoris</h5>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted d-none d-xl-block text-center w-100">
                            Accéder à ma liste d'offres favorites
                        </h6>
                    </div>
                </div>
            </a>
            <a href="{{ path('app_resume_index', {'id': app.user.id}) }}" class="p-0  col-11 col-md-6 px-md-1 px-xl-4">
                <div class="card example-wrapper be-card-resume mb-3">
                    <div class="card-body d-flex flex-column justify-content-around ">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-file fa-2xl"></i>
                            <h5 class="card-title text-center">Mes CV</h5>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted d-none d-xl-block text-center w-100">
                            J'organise et je priorise mes CV
                        </h6>
                    </div>
                </div>
            </a>
            <a href="{{ path('app_user_candidatures', {id: app.user.id}) }}" class="text-dark p-0  col-11 col-md-6
            px-md-1 px-xl-4">
                <div class="card example-wrapper be-card-applications mb-3" >
                    <div class="card-body d-flex flex-column justify-content-around ">
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-building fa-2xl"></i>
                            <h5 class="card-title">
                                Mes candidatures
                            </h5>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted d-none d-xl-block text-center">
                            Accéder à ma liste de candidature en cours
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
